In [14]:
# employee data with key as id of the employee and values as age of the employee
Employee_data ={101: 43, 102: 25, 103: 43, 104: 31, 105: 26, 106: 28, 107: 29, 108: 43, 109: 25, 110: 22, 111: 22, 112: 25, 113: 30, 115: 45, 116: 23, 117: 29, 118: 28, 119: 30, 120: 28, 121: 42, 122: 39, 123: 29, 124: 42, 125: 43, 126: 42, 127: 40, 128: 27, 129: 23, 130: 30, 131: 37, 132: 20, 133: 36, 134: 27, 135: 27, 136: 22, 137: 28, 138: 23, 139: 45, 140: 39, 141: 29, 142: 33, 143: 39, 145: 34, 146: 26, 147: 30, 148: 38, 149: 29, 150: 24, 151: 28, 152: 34, 153: 42, 154: 29, 155: 23, 156: 31, 158: 25, 160: 45, 161: 42, 162: 27, 163: 24, 164: 20, 166: 24, 167: 28, 168: 20, 169: 33, 170: 34, 171: 37, 172: 45, 173: 35, 174: 23, 175: 44, 176: 27, 177: 30, 178: 26, 179: 27}

#### Identify the senior most employees age

- 45
- 44
- 48
- 42

In [2]:
sorted(Employee_data.values(),reverse=True)

[45,
 45,
 45,
 45,
 44,
 43,
 43,
 43,
 43,
 42,
 42,
 42,
 42,
 42,
 40,
 39,
 39,
 39,
 38,
 37,
 37,
 36,
 35,
 34,
 34,
 34,
 33,
 33,
 31,
 31,
 30,
 30,
 30,
 30,
 30,
 29,
 29,
 29,
 29,
 29,
 29,
 28,
 28,
 28,
 28,
 28,
 28,
 27,
 27,
 27,
 27,
 27,
 27,
 26,
 26,
 26,
 25,
 25,
 25,
 25,
 24,
 24,
 24,
 23,
 23,
 23,
 23,
 23,
 22,
 22,
 22,
 20,
 20,
 20]

__Answer : senior Most Employee age is  45__

#### Identify the age of the employee with employee id 159 [ If the employee isn't present return NA]

- 25
- 32
- NA
- 42

In [3]:
if 159 in Employee_data.values():
    print(Employee_data[159])
else:
    print("NA")

NA

In [4]:
Employee_data[159]

KeyError: 159

__Answer : NA__

#### Count the total number of employee in the organization

- 79
- 78
- 60
- 74

In [ ]:
len(Employee_data)

__Answer is 74__

#### Calculate the mean age of the employees

- 31.36
- 36.48
- 28.77
- 32.47

In [5]:
mean_age_of_the_employees = sum(Employee_data.values())/len(Employee_data)
print("mean_age_of_the_employees is ",mean_age_of_the_employees)

mean_age_of_the_employees is  31.364864864864863

__Answer is 31.36__

#### Perform the following two tasks and then calculate the updated mean age of the employees
Task1 Update the ages of employee id - 104,140, and 164 as 27 <br>
Task2 Remove the employ with employee id - 143 <br>

- 30.71
- 31.36
- 30.13
- 31.13

In [16]:
# Before performing 2 tasks
sum(Employee_data.values())/len(Employee_data.values())

31.364864864864863

In [24]:
Employee_data.update({104:164,140:27})

In [25]:
Employee_data.pop(143)

KeyError: 143

In [26]:
Employee_data.values()

dict_values([43, 25, 43, 164, 26, 28, 29, 43, 25, 22, 22, 25, 30, 45, 23, 29, 28, 30, 28, 42, 39, 29, 42, 43, 42, 40, 27, 23, 30, 37, 20, 36, 27, 27, 22, 28, 23, 45, 27, 29, 33, 34, 26, 30, 38, 29, 24, 28, 34, 42, 29, 23, 31, 25, 45, 42, 27, 24, 20, 24, 28, 20, 33, 34, 37, 45, 35, 23, 44, 27, 30, 26, 27])

In [27]:
len(Employee_data.values())

73

In [28]:
updated_mean = sum(Employee_data.values())/len(Employee_data.values())
updated_mean

32.917808219178085

__Answer is 32.91__